{%if '*viewstudents*' in permissions%}
<h>User ID</h>
<p>{{ student.id }}</p>
<h>First name</h>
<p>{{ student.name }}</p>
<h>Last name</h>
<p>{{ student.surname }}</p>
<h>Locker ID</h>
<p><a href="{% url 'SIS:lockerDetail' student.locker_id %}"> {{ student.locker_id }}</a></p>
<h>Grade</h>
<p>{{ student.grade }}</p>
<a href="{% url 'SIS:studentCourses' student.id %}"> Courses </a>
<br>
<a href="{% url 'SIS:editStudent' student.id %}"> Edit Student</a>
<br>
<br>
{%endif%}
<a href="{% url 'SIS:listStudents' %}">Back</a>