<h>Title: {{course.title}}</h>
<br>
<p>Instructor: {{ teacher.name }} {{ teacher.surname }}</p>
<p>Description: {{course.description}}</p>

{% if assignment_list %}
<p>Assignments</p>
<ul>
    {% for assignment in assignment_list %}
    <li>{{assignment.title}} {{ assignment.category }}</li>
    <p>Out of: {{assignment.outof}}</p>
    <p>Mark: {{assignment.mark}}</p>
    {% endfor %}
</ul>
{% else %}
<p>No Assignments are available.</p>
{% endif %}

<br>
<a href="{% url 'SIS:studentCourses' student_id %}">Back</a>