<h2>Edit {{user.user_id}} Permissions</h2>

Permissions:
<form action="{% url 'SIS:confirmPermissions' user.user_id %}" method="post">
    {% csrf_token %}
    {% for permission in permission_list %}
    {% if permission in user.user_permissions %}
    <input type="checkbox" name={{permission}} value={{permission}} checked>{{permission}}<br>
    {% else %}
    <input type="checkbox" name={{permission}} value={{permission}}>{{permission}}<br>
    {%endif%}
    {%endfor%}
    <input type="submit" value="Submit">
</form>
{% if error_message %}
<p>{{error_message}}</p>
{% endif %}
<br>
<a href="{% url 'SIS:userDetail' user.user_id %}">Back</a>